{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-4xl font-bold">Your lucky number is {{ number }}</h1>
    <twig:button variant="destructive" size="lg">Destructive</twig:button>
    <twig:button variant="secondary" size="lg">Secondary</twig:button>
{% endblock %}

